@import "tailwindcss";
@import "./styles/vkTheme.css";

body {
  margin: 0;
  background-color: #edeef0;
  color: #2c2d2e;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
